body{
	margin: 0;
	background-color: #f2f2f2;
}
*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑","苹方",sans-serif;
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
input{
	outline: none;
}
.clear{
	clear: both;
}
@font-face {
  font-family: 'iconfont';  /* project id 494839 */
  src: url('http://at.alicdn.com/t/font_494839_2317hji5acj1c3di.eot');
  src: url('http://at.alicdn.com/t/font_494839_2317hji5acj1c3di.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_494839_2317hji5acj1c3di.woff') format('woff'),
  url('http://at.alicdn.com/t/font_494839_2317hji5acj1c3di.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_494839_2317hji5acj1c3di.svg#iconfont') format('svg');
}
.icon1{
	font-family: 'iconfont';
	color: #cec7c0;
	font-size: 6px;
}
.icon2{
	font-family: 'iconfont';
	font-size: 14px;
	color: #fff;
}
.icon3{
	font-family: 'iconfont';
	font-size: 18px;
	color: #fea900;
}
.icon4{
	font-family: 'iconfont';
	font-size: 26px;
}
.icon5{
	font-family: 'iconfont';
	color: #dd2727;
}
header{
	background-color: #f5f5f5;
	border-bottom: 1px solid #eeeeee;
}
.header_center{
	width: 1190px;
	height: 35px;
	margin: 0 auto;
}
.top_left{
	float: left;
}
.top_left a{
	font-size: 10px;
	line-height: 35px;
	color: #666666;
}
.top_right{
	float: right;
}
.wz_daohang{
	float: left;
	margin: 0 10px;
}
.wz_daohang:hover .icon1{
    transform:rotate(180deg);
    color: #F60;
}
.wz_daohang:hover  a{
	color: #F60;
}
.denglu:hover .icon1{
    transform:-webkit-rotate(180deg);
    color: #F60;
}
.denglu:hover a{
	color: #F60;
}
.denglu{
	float: left;
	margin: 0 10px;
}
.denglu a{
	font-size: 10px;
	color: #666666;
	line-height: 35px;
}
.denglu img{
	float: left;
	margin-top: 12px;
	margin-right: 6px;
}
.denglu .che{
	color: #fe6600;
}
.logo{
	width: 1190px;
	margin: 0 auto;
}
.logo .logo_left{
	float: left;
}
.logo .logo_right{
	float: right;
}

.logo_img{
	width: 190px;
	float: left;
}
.logo_right_img{
	width: 100px;
	float: left;
	margin-left: 30px;
	margin-top: 20px;
}
.sousuo{
	float: left;
	margin-top: 30px;
	margin-left: 34px;
}
.sousuo_top input{
	width: 418px;
	height: 36px;
	border:2px solid #ff9900;
	float: left;
}
.sousuo_top a{
	width: 118px;
	height: 40px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background-color:#ff9900;
	display: block;
	float: left;
	text-align: center;
	line-height: 40px;
}
.sousuo_top a:hover{
	background:#e66a07;
}
.banner_nav_left:hover{
	background:#e66a07;
}
.sousuo_bottom a{
	color: #999999;
	font-size: 12px;
	float: left;
	margin-top: 6px;
	padding: 0 7px;
}
.sousuo_bottom a:first-child{
	padding-left: 0;
}
.logo_right img{
	margin-top: 10px;
	width: 90px;
	border: 1px solid #eeeeee;
	padding: 6px;
}

.banner{
	width: 100%;
	height: 440px;
	background-color: #f2f2f2;
	position: relative;
}
.ban_left_img{
	position: absolute;
	top: 0;
	left: -275px;
}

.banner .left1{
	float: left;
	margin-left: -275px;
}

.banner_center{
	width: 1190px;
	height: 478px;
	margin: 0 auto;
}
.banner_center_left{
	width: 1020px;
	height: 440px;
	float: left;
	position: relative;
}
.banner_center_left .shudaohang{
	width: 190px;
	background-color: rgba(0,0,0,0.8);
}
.banner_center_left ul li{
	width: 100%;
	height: 31px;
	color: #5d7769;
}
.banner_center_left ul li a{
	font-size: 10px;
	color: #fff;
	line-height: 31px;
}
.banner_center_left ul li i{
	line-height: 31px;
	margin-left: 8px;
	margin-right: 4px;
	float: left;
}
.shudaohang li:hover{
	background: #fff;
}
.shudaohang li:hover a{
	color: #000;
}
.shudaohang li a:hover{
	color: #ff6700;
}

.banner_nav{
	width: 1190px;
	height: 38px;
	margin: 0 auto;
}
.banner_nav_left{
	float: left;
	width: 190px;
	height: 38px;
	line-height: 38px;
	font-size: 12px;
	background: #ff9900;
}
.banner_nav .banner_nav_left a{
	color: #fff;
}
.banner_nav_left i{
	margin-left: 10px;
}
.banner_nav .nav_a{
	font-size: 14px;
	color: #333333;
	line-height: 38px;
	margin: 0 12px;
	font-weight: bold;
	float: left;
	position: relative;
	
}
.banner_nav .nav_a:hover{
	color: #ff6700;
}

.nav_a span{
	position: absolute;
	width: 25px;
	height: 8px;
	bottom:-8px;
	left:50%;
	margin-left: -12px;
	transition: 0.7s;
	background: url(../img/index.png) no-repeat -37px 0;
}
.nav_a:hover span{
	bottom:0;
}



.banner_nav img{
	float: right;
}
.sousuo_bottom a:hover{
	color: #ff6700;
}

.shudaohang{
	float: left;
	height: 440px;
}
.banner_box{
	width: 830px;
	height: 440px;
	float: left;
	position: relative;
}
.banner_box .lunboo{
	width: 100%;
	height: 100%;
}

.banner_box .lunboo .lunbootu{
	position: absolute;
	top:0;
	left: 0;
	opacity: 1;
}
.banner_box .lunboo .lunbootu.active{
	opacity: 1;
	z-index:9 ;
}
.zuo{
	width: 30px;
	height: 64px;
	background-color: rgba(0,0,0,0.0);
	font-size: 22px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 64px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	z-index: 12;
}
.zuo:hover{
	background-color: rgba(0,0,0,0.6);
}
.you:hover{
	background-color: rgba(0,0,0,0.6);
}
.you{
	width: 30px;
	height: 64px;
	background-color: rgba(0,0,0,0.0);
	font-size: 22px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 64px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	z-index: 12;
}
.banner_center_left .lunbo{
	position: absolute;
	top: 400px;
	left: 297px;
	z-index: 12;
}
.banner_center .banner_center_left .lunbo li{
	float: left;
	width: 16px;
	height: 16px;
	margin: 0 4px;
	border-radius: 50%;
	background-color: #eac8ce;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.4);
}
.banner_center .banner_center_left .lunbo li.active{
	background-color: #F90;
}
.banner_center .banner_center_left .lunbo li:hover{
    background-color: #F90;
}
.banner_center_right{
	width: 170px;
	height: 435px;
	background-color: #fff;
	float: left;
	margin-top: 5px;
}
.wode{
	width: 160px;
	height: 422px;
	background: #fff;
}
.wode>span{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: block;
	background: url('../img/index.png') no-repeat -95px -25px;
	margin: 14px auto 0 auto;
}
.wode h6{
	font-weight: normal;
	text-align: center;
	margin-top: 6px;
	color: #333333;
}
.xinren{
	width: 150px;
	margin:12px auto 0 auto; 
}
.xinren .dl{
	width: 70px;
	height: 26px;
	background: #ff9900;
	color: #fff;
	font-size: 12px;
	display: block;
	text-align: center;
	line-height: 26px;
	float: left;
}
.xinren .xr{
	width: 70px;
	height: 26px;
	border: 1px solid #ff9900;
	color:#ff9900;
	font-size: 12px;
	box-sizing: border-box;
	float: left;
	display: block;
	text-align: center;
	line-height: 26px;
	margin-left: 10px;
}
.linjuan{
	width: 150px;
	margin: 0 auto;
}
.linjuan a{
	color: #333333;
	font-size: 12px;
	float: left;
}
.linjuan a .zuan{
	width: 16px;
	height: 12px;
	display: block;
	float: left;
	margin-top: 7px;
	margin-left: 4px;
	background: url('../img/index.png') no-repeat -113px -1px;
}
.yunzuan{
	width: 70px;
	height: 26px;
	line-height: 26px;
	margin-top: 4px;
}
.juan_box{
	width: 70px;
	height: 26px;
	margin-top: 4px;
	line-height: 26px;
	margin-left: 10px;
}

.ju{
	width: 16px;
	height: 14px;
	display: block;
	margin-top: 6px;
	margin-left: 4px;
	background: url('../img/index.png') no-repeat -88px 0;
	float: left;
	margin-right: 6px;
}
.guanzhu{
	width: 170px;
	height: 114px;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}
.guanzhu a{
	width: 148px;
	margin: 12px auto 0 auto;
	color: #333333;
	font-size: 12px;
	display: block;
}
.guanzhu a span{
	color: #ff6600;
}
.guanzhu a:hover{
	color: #FF6600;
}
.huafei{
	width: 56px;
	height: 78px;
	border-bottom: 1px solid #F2F2F2;
	border-right: 1px solid #f2f2f2;
	float: left;
	box-sizing: border-box;
}
.huafei i{
	color: #ff9900;
	display: block;
	text-align: center;
	padding-top: 12px;
}
.huafei a{
	font-size: 12px;
	color: #333333;
	text-align: center;
	display: block;
	margin-top: 4px;
}
.huafei a:hover{
	color: #ff9900;
}
.shuidian{
	width: 170px;
}

.fengkuang{
	width: 1190px;
	height: 546px;
	margin: 0 auto;
}
.fengkuang_top a img{
	float: left;
}
.fengkuang_buttom{
	width: 100%;
	height:400px;
	background: #8500fc;
}
.fengkuang_buttom li{
	width: 230px;
	height: auto;
	float: left;
}

.fk_top{
	margin-right: 10px;
}

.fk_buttom{
	margin-top: 6px;
	margin-right: 10px;
}
.dajuhui{
	width: 1190px;
	margin: 22px auto 0 auto;
}
.dajuhui_title{
	width: 100%;
	height: 43px;
}
.title_01{
	width: 190px;
	height: 100%;
	background-color: #dd2726;
	float: left;
}
.title_01 h3{
	color: #fff;
	font-size: 20px;
	line-height: 43px;
	margin-left: 15px;
	float: left;
}
.title_01 span{
	width: 95px;
	height: 14px;
	display: block;
	float: left;
	background: url(../img/index.png) no-repeat 0 -124px;
	margin-top: 16px;
	margin-left: 6px;
}
.title_02{
	margin-left: 60px;
	height: 43px;
	float: left;
	padding: 0 5px;
}
.title_02 i{
	line-height: 43px;
	font-size: 16px;
}
.title_02 a{
	font-size: 14px;
	color: #333333;
}
.title_02:hover{
	box-sizing: border-box;
	border-bottom: 4px solid #dd2726;
}
.title_02:hover a{
	font-weight: bold;
	color: #dd2726;
}
.title_03{
	width: 115px;
	height: 24px;
	border-radius: 14px;
	background-color: #db2726;
	font-size: 12px;
	color: #fff;
	display: block;
	float: right;
	line-height: 24px;
	text-align: center;
	margin-top: 12px;
}
.shouji_conter02 .shouji_conter02_top a img{
	transition: 0.5s;
}
.shouji_conter02 .shouji_conter02_top a:hover img{
	transform: scale(1.05);
}
.shouji_conter02_bottom .text_img img{
	transition: 0.5s;
}
.shouji_conter02_bottom .text_img:hover img{
	transform: scale(1.05);
}
.shouji_conter01_bottom .text_img img{
	transition: 0.5s;
}
.shouji_conter01_bottom .text_img:hover img{
	transform: scale(1.05);
}

.dajuhui_box{
	background-color: #fff;
	border-top:2px solid #db2726;
	width: 100%;
	height: 260px;
}
.dajuhui_box li{
	width: 200px;
	float: left;
	border-right: 1px solid #eeeeee;
	box-sizing: border-box;
}
.dajuhui_box img{
	width: 80%;
	margin: 20px 0 0 0;
	padding: 0 20px;
}
.dajuhui_box p{
	width: 170px;
	font-size: 12px;
	color: #474747;
	margin: 8px auto 0 auto;
}
.dajuhui_box .shou{
	margin-top: 6px;
	color: #ff6600;
}
.dajuhui_box .pingpai a img{
	width: 170px;
}
.dajuhui_box .pingpai{
	width: 190px;
	float: left;
}
.haohuo{
	height: 427px;
	width: 1190px;
	margin: 20px auto;
}
.haohuo_01{
	width: 390px;
	height: 427px;
	margin: 0;
	float: left;
	background: #FFFFFF;
}

.haohuo_02{
	float: left;
    width: 390px;
    height: 427px;
    margin-left: 10px;
    background: #FFF;
}

.haohuo_03{
	float: left;
    width: 390px;
    height: 427px;
    margin-left: 10px;
    background: #FFF;
}

.haohuo_01 .title{
	position: relative;
    width: 100%;
    height: 45px;
    color: #FFF;
}
.haohuo_02 .title{
	position: relative;
    width: 100%;
    height: 45px;
    color: #FFF;
}
.haohuo_03 .title{
	position: relative;
    width: 100%;
    height: 45px;
    color: #FFF;
}
.haohuo .title h5{
	float: left;
    padding-left: 15px;
    font-size: 18px;
    line-height: 45px;
    font-weight: bold;
}
.haohuo .title a{
	float: right;
    margin: 15px 10px 0 0;
    color: #FFF;
    font-size: 12px;
    line-height: 16px;
}
.haohuo .title a span{
	display: inline-block;
    vertical-align: middle;
}
.haohuo .title a i{
	display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 9px;
    margin-left: 8px;
    background: url(../img/index.png) -73px -37px;
}
.haohuo .haohuo_01 .title{
	background: #3b8c94;
}
.haohuo .haohuo_02 .title{
	background: #e66a07;
}
.haohuo .haohuo_02 .title .new-logio{
	position: absolute;
    bottom: 8px;
    width: 53px;
    height: 53px;
    background: url(../img/haohuo7.png);
}
.haohuo .haohuo_03 .title{
	background: #b62323;
}
.haohuo_01 .content{
	width: 369px;
	height: 362px;
	margin: 10px auto 0;
	overflow: hidden;
	position: relative;
}
.haohuo_01 .content ul{
	width: 370px;
    height: 363px;
} 
.haohuo_01 .content ul li{
	position: relative;
    float: left;
    width: 184px;
    height: 120px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #e7e7e7;
}
.haohuo_01 .content ul li a{
	float: left;
    width: 184px;
    height: 120px;
    cursor: pointer;
}
.haohuo_01 .content ul .name{
	width: 72px;
    height: 40px;
    overflow: hidden;
    margin: 14px 0 0 15px;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}
.haohuo_01 .content ul .desc{
	width: 72px;
    height: 16px;
    overflow: hidden;
    color: #999;
    margin: 10px 0 0 15px;
    font-size: 12px;
    line-height: 16px;
}
.haohuo_01 .content ul .desc i{
	color: #3B8C94;
}
.haohuo_01 .content ul li img{
	position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    bottom: 3px;
    right: 3px;
}
.haohuo_02 .content {
	width: 369px;
    height: 361px;
    margin: 10px auto 0;
    overflow: hidden;
    position: relative;
}
.haohuo_02 .content ul{
	width: 370px;
    height: 363px;
}
.haohuo_02 .content ul li{
	position: relative;
    float: left;
    width: 184px;
    height: 180px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #e7e7e7;
}
.haohuo_02 .content ul li a{
	float: left;
    width: 184px;
    height: 180px;
}
.haohuo_02 .content ul li .name{
	float: left;
    padding: 0 8px;
    height: 20px;
    overflow: hidden;
    margin: 14px 0 0 8px;
    background: #e66a07;
    border-radius: 20px;
    color: #FFF;
    font-size: 14px;
    line-height: 20px;
}
.haohuo_02 .content ul li .desc{
	float: left;
    width: 144px;
    height: 16px;
    overflow: hidden;
    color: #999;
    margin: 6px 0 0 16px;
    font-size: 12px;
    line-height: 16px;
}
.haohuo_02 .content ul li .img1{
	margin-left: 2px;
}
.haohuo_02 .content ul li img{
	float: left;
    width: 90px;
    height: 90px;
    margin-top: 14px;
}
.haohuo_03 .content{
	position: relative;
    width: 369px;
    padding: 0 10px 0 11px;
}
.haohuo_03 .content .list{
	position: relative;
    width: 369px;
    height: 360px;
    overflow: hidden;
    margin: 10px 0 0 0;
}
.haohuo_03 .content .list .list1{
	position: absolute;
    left: 0;
    top: 0;
    height: 360px;
    width: 1200px;
}
.haohuo_03 .content .list2{
	float: left;
    width: 369px;
    height: 360px;
}
.haohuo_03 .content .list3{
	position: relative;
    float: left;
    width: 369px;
    height: 180px;
}
.haohuo_03 .content .list3 .title{
	position: absolute;
	text-align: center;
	width: 56px;
    left: 0;
    top: 14px;
    color: #FFF;
    background: #c72c2c;
    border-radius: 12px;
    padding: 0 5px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
}
.haohuo_03 .content .list3 ul{
	position: relative;
    width: 369px;
    height: 166px;
    padding-top: 14px;
    border-bottom: 1px solid #e7e7e7;
}
.haohuo_03 .content .list3 ul li{
	position: relative;
    float: left;
    width: 123px;
    height: 166px;
}
.haohuo_03 .content .list3 ul li a{
	float: left;
    width: 100%;
    height: 100%;
}
.haohuo_03 .content .list3 ul li a img{
	display: block;
    width: 80px;
    height: 80px;
    margin: 28px auto 0;
}
.haohuo_03 .content .list3 ul li .name{
	width: 100px;
    height: 28px;
    overflow: hidden;
    color: #333;
    margin-left: 11px;
    font-size: 12px;
    line-height: 14px;
}
.haohuo_03 .content .list3 ul li .price{
	margin: 1px 0 0 11px;
    color: #b62323;
    font-size: 14px;
    line-height: 22px;
}
.haohuo_03 .content .list3 ul li .price i,em{
	font-size: 12px;
}
.haohuo_03 .content .list3 ul li a span{
	position: absolute;
    width: 23px;
    height: 23px;
    top: 28px;
    right: 22px;
    background: url(../img/index.png);
    color: #FFF;
    text-align: center;
    font-size: 12px;
    line-height: 23px;
}
.haohuo_03 .content .list3 ul li a .paihang1{
	background-position: -3px -241px;
}
.haohuo_03:hover .btn{
	position: absolute;
    width: 30px;
    height: 64px;
    top: 140px;
    background: url(../img/index.png) no-repeat 0 -20px;
}
.haohuo_03 .btn-left{
	left: 0;
    background-position: -82px -145px;
}
.haohuo_03 .btn-right{
	right: 0;
    background-position: -120px -145px;
}
.haohuo_03 .yuan{
	position: absolute;
    bottom: -7px;
    left: 0;
    width: 369px;
    height: 8px;
    text-align: center;
    font-size: 0;
}
.haohuo_03 .yuan a{
	position: relative;
    display: inline-block;
    margin-left: 10px;
    background: #d8d8d8;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}
.haohuo_03 .yuan a:first-child{
	background: #c72c2c;
}

.temai_box{
	width: 1190px;
	height: 427px;
	margin: 0 auto;
}
.temai_box .temai_box_01:first-child{
	margin-left:0;
}
.temai_box_01{
	width: 390px;
	height: 427px;
	float: left;
	margin-left: 10px;
}
.temai_box_01_top{
	width: 100%;
	height: 45px;
	background: #c43d7e;
}
.temai_box_01_top h1{
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	float: left;
	line-height: 45px;
	margin-left: 15px;
}
.temai_box_01_top a{
	float: right;
	line-height: 45px;
	font-size: 12px;
	color: #fff;
	margin-right: 10px;
}
.temai_box_01_bottom{
	width: 100%;
	height: 382px;
	background: #fff;
}
.datu_left{
	float: left;
	overflow: hidden;
}
.datu_left_top{
	width: 184px;
	height: 239px;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	margin-top: 10px;
	margin-left: 10px;
}
.datu_left_top a{
	width: 184px;
	height: 240px;
	display: block;
	overflow: hidden;
}
.datu_left_top a img{
	width: 90%;
}
.datu_left_top a h4{
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	margin-top: 16px;
	margin-left: 16px;
}
.datu_left_top a h5{
	font-size: 12px;
	color: #c43e7e;
	font-weight: normal;
	margin-top: 4px;
	margin-left: 16px;
}
.datu_left_top a img{
	display: block;
	margin: 20px auto 0 auto;
}
.datu_left_bottom{
	width: 184px;
	height: 120px;
	border-right: 1px solid #e7e7e7;
	margin-left: 10px;
}
.datu_left_bottom a .qianzhihe{
	float: left;
	margin-left: 10px;
}
.datu_left_bottom a .qianzhihe h4{
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	margin-top: 20px;
	width: 60px;
}
.datu_left_bottom a .qianzhihe h5{
	font-size: 10px;
	color: #999999;
	font-weight: normal;
	margin-top: 4px;
}
.datu_left_bottom a img{
	float: left;
	width: 80px;
	margin-top: 30px;
	margin-left: 10px;
}
.datu_right{
	float: left;
}
.shimao1{
	width: 184px;
	height: 125px;
	border-bottom: 1px solid #e7e7e7;
	box-sizing: border-box;
}
.shimao1 a .qianzhihe{
	float: left;
}
.shimao1 a .qianzhihe h4{
	font-size: 12px;
	color: #333333;
	font-weight: normal;
	margin-top: 20px;
	margin-left: 10px;
	width: 60px;
}
.shimao1 a .qianzhihe h5{
	font-size: 10px;
	color: #999999;
	font-weight: normal;
	margin-top: 4px;
	margin-left: 10px;
}
.shimao1 a img{
	width: 80px;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
}

.shengxian{
	width: 1190px;
	height: 530px;
	overflow: hidden;
	margin: 20px auto;
}
.shengxian-left{
	width: 790px;
	float: left;
	height: 540px;
	overflow: hidden;
}
.shengxian-left ul{
	width: 800px;
	height: 540px;
}
.shengxian-left ul li{
	position: relative;
    float: left;
    width: 390px;
    height: 170px;
    margin: 0 10px 10px 0;
    overflow: hidden;
}
.shengxian-left ul .item1{
	background: -webkit-gradient(linear,0 0,right 0,from(#e89621),to(#f5c568));
}
.shengxian-left ul .item2{
	background: -webkit-gradient(linear,0 0,right 0,from(#325bb4),to(#4c9afe));
}
.shengxian-left ul li a{
	display: block;
    width: 100%;
    height: 126px;
    padding-top: 44px;
}
.shengxian-left ul li a .line{
	position: relative;
    display: block;
    height: 2px;
    background: url(../img/index.png);
    margin-left: 35px;
    z-index: 1;
}
.shengxian-left ul li a .line-top{
	width: 78px;
    background-position: -102px -245px;
}
.shengxian-left ul li a .line-bottom{
	width: 154px;
    background-position: -101px -253px;
}
.shengxian-left ul li a p{
	position: relative;
    color: #FFF;
    width: 160px;
    overflow: hidden;
    z-index: 1;
}
.shengxian-left ul li a .name{
	margin: 5px 0 5px 35px;
	height: 26px;
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
}
.shengxian-left ul li a .desc{
	margin: 5px 0 0 35px;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
}
.shengxian-left ul li a img{
	position: absolute;
    width: 170px;
    height: 170px;
    right: 25px;
    top: 0;
    transition: all .5s;
}
.shengxian-left ul li:hover img{
	transform: translateX(-10px);
}
.shengxian-sp{
	float: left;
    width: 390px;
    height: 350px;
    margin-left: 10px;
}
.shengxian-sp .title{
	width: 100%;
    height: 45px;
    color: #FFF;
    background: #3f3435;
}
.shengxian-sp .title h5{
	float: left;
	padding-left: 15px;
	font-size: 18px;
	line-height: 45px;
	font-weight: bold;
}
.shengxian-sp .big{
	position: relative;
    width: 390px;
    height: 227px;
    overflow: hidden;
}
.shengxian-sp .big ul li{
	position: absolute;
    width: 390px;
    height: 227px;
}
.shengxian-sp .big ul li img{
	display: block;
    width: 390px;
    height: 227px;
}
.shengxian-sp .big ul li .opacity{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .15;
    background: #000;
}
.shengxian-sp .big ul li span{
	position: absolute;
    top: 80px;
    left: 170px;
    display: block;
    width: 50px;
    height: 50px;
    
}
.shengxian-sp .big ul li .opacity1{
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: #000;
    opacity: .5;
}
.shengxian-sp .big ul li .name{
	position: absolute;
    bottom: 0;
    left: 35px;
    width: 320px;
    height: 45px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #FFF;
     font-size: 14px;
    line-height: 45px;
}
.shengxian-sp .small{
	position: relative;
    width: 390px;
    height: 73px;
    margin-top: 5px;
    overflow: hidden;
}
.shengxian-sp .small ul{
	position: absolute;
    left: 0;
    top: 0;
    width: 10000px;
    height: 73px;
}
.shengxian-sp .small ul li{
	position: relative;
    float: left;
    width: 128px;
    height: 73px;
    margin-right: 3px;
}
.shengxian-sp .small ul li img{
	display: block;
    width: 128px;
    height: 73px;
}
.shengxian-sp .small ul li .opacity{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .20;
    background: #000;
}
.shengxian-sp .small ul li span{
	position: absolute;
    top: 18px;
    left: 51px;
    display: block;
    width: 25px;
    height: 25px;   
}
.icon-bofang{
	font-family: 'iconfont';
	font-size: 25px;
	color:#FFF; 
}
.shengxian-sp .small ul li span:hover{
	color:#f90;

}
.shengxian-sp .small ul li p{
	position: absolute;
    width: 112px;
    height: 20px;
    left: 8px;
    color: #FFF;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;
    line-height: 20px;
}
.shengxian-right{
	float: left;
    width: 390px;
    height: 170px;
    margin: 10px 0 0 10px;
    overflow: hidden;
}
.shengxian-right ul{
	width: 400px;
	height: 170px;
}
.shengxian-right ul li{
	position: relative;
    float: left;
    width: 190px;
    height: 170px;
    margin: 0 10px 0 0;
    overflow: hidden;
}
.shengxian-right ul .item7{
	background: -webkit-gradient(linear,0 0,right 0,from(#6ea166),to(#9fc766));
}
.shengxian-right ul li a{
	display: block;
    width: 100%;
    height: 152px;
    padding-top: 18px;
}
.shengxian-right ul li a p{
	color: #FFF;
    width: 120px;
    overflow: hidden;
}
.shengxian-right ul li a .name{
	height: 26px;
    margin: 0 0 5px 35px;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
}
.shengxian-right ul li a .desc{
	height: 20px;
    width: 126px;
    margin: 0 0 0 35px;
    font-size: 14px;
    line-height: 20px;
}
.shengxian-right ul li a img{
	position: absolute;
    width: 190px;
    height: 100px;
    left: 0;
    bottom: 0;
    background: 0;
    transition: all .5s;
}
.shengxian-right ul li:hover a img{
	transform: translateX(-10px);
}
.guanggao1{
	width: 1190px;
	height: 100px;
	margin: 0 auto;
}
.guanggao1 a img{
	width: 396px;
	float: left;
}
.remenshouji{
	width: 1190px;
	height: 567px;
	margin: 20px auto;
}
.remenshouji_left{
	width: 590px;
	height: 567px;
	float: left;
	border-top: 2px solid #33ae75;
}
.shouji_title{
	width: 100%;
	height: 47px;
}
.shouji_title_left{
	width: 190px;
	height: 47px;
	background: #33ae75;
	float: left;
}
.shouji_title_left h1{
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	line-height: 47px;
	margin-left: 15px;
	float: left;
}
.shouji_title_left span{
	width: 24px;
	height: 24px;
	float: left;
	display: block;
	background: red;
	margin-top: 12px;
	margin-left: 10px;
	background: url(../img/index.png) no-repeat -232px -209px;
}
.shouji_title_right{
	float: right;
}
.shouji_title_right a{
	font-size: 14px;
	color: #666666;
	margin-right: 20px;
	line-height: 47px;
}
.shouji_conter{
	width: 100%;
	height: 520px;
	background: #fff;
}
.shouji_conter01{
	float: left;
}
.shouji_conter02{
	float: left;
}

.shouji_conter01_top a img{
	float: left;
}
.shouji_conter01_bottom{
	width: 190px;
	height: 109px;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	box-sizing: border-box;
}
.text_top{
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}
.text_img{
	margin-top: 15px;
	margin-left: 30px;
	float: left;
}
.text_top h3{
	font-weight: normal;
	font-size: 12px;
	color: #333333;
}
.text_top h4{
	font-weight: normal;
	font-size: 12px;
	color: #33ae75;
}
.shouji_conter02{
	width: 200px;
}
.shouji_conter02_top{
	width: 100%;
	height: 180px;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	overflow: hidden;
}
.shouji_conter02_top a h3{
	font-size: 15px;
	font-weight: normal;
	color: #333333;
	text-align: center;
	margin-top: 20px;
}
.shouji_conter02_top a h4{
	font-size: 12px;
	font-weight: normal;
	color: #33ae75;
	text-align: center;
}
.shouji_conter02_top a img{
	width: 120px;
	display: block;
	margin: 0 auto;
}

.shouji_conter02_bottom{
	width: 200px;
	height: 106px;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}
.shouji_bott{
	clear: both;
	width: 100%;
	height: 50px;
}
.shouji_bott a img{
	float: left;
	width: 90px;
	line-height: 50px;
	margin-right: 8px;
	margin-top: 10px;
}
.dq{
	background: #FFF;
    border-top: 2px solid #FFF;
    height: 455px;
    width: 1190px;
    border-color: #5f6cb7;
    margin: 20px auto;
}
.dq .title{
	width: 100%;
    height: 45px;
    background: #eff0f8;
}
.dq .title .title-name{
	float: left;
    width: 190px;
    height: 45px;
    background: #5f6cb7;
}
.dq .title .title-name p{
	float: left;
    color: #FFF;
    margin-left: 15px;
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
}
.dq .title .title-name  .code{
	position: relative;
    float: left;
    width: 24px;
    height: 24px;
    margin: 10px 0 0 10px;
    background: url(../img/index.png) -232px -209px;
}
.dq .title .title-nav{
	float: right;
    margin: 14px 18px 0 0;
}
.dq .title .title-nav a{
	float: right;
    margin-left: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
}
.dq .content{
	width: 100%;
    height: 360px;
}
.dq .content .left-img{
	float: left;
    position: relative;
    width: 190px;
    height: 360px;
}
.dq .content .left-img img{
	display: block;
    width: 190px;
    height: 360px;
}
.dq .content .left-img .cover{
	position: absolute;
    width: 190px;
    height: 90px;
    left: 0;
    bottom: 0;
    opacity: .6;
    background: #5f6cb7;
}
.dq .content .left-img .img-name{
	position: absolute;
    top: 285px;
    left: 14px;
    width: 160px;
    height: 30px;
    overflow: hidden;
    color: #FFF;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}
.dq .content .left-img .img-desc{
	position: absolute;
    top: 315px;
    left: 14px;
    color: #FFF;
    width: 160px;
    height: 22px;
    overflow: hidden;
    font-size: 12px;
    line-height: 22px;
}
.dq .content .left-img a{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.dq .content .left-img:hover a{
	background: #ffffff;
	opacity: 0.1;
}
.dq .content .img-list{
	position: relative;
    float: left;
    width: 400px;
    height: 360px;
    overflow: hidden;
}
.dq  .content .img-list li{
	position: relative;
    float: left;
    width: 199px;
    height: 179px;
    border-width: 0 0 1px 1px;
    border-color: #EEE;
    border-style: solid;
    overflow: hidden;
}
.dq  .content .img-list li a{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.dq  .content .img-list li a .img-name{
	width: 180px;
    height: 24px;
    overflow: hidden;
    text-align: center;
    margin: 14px auto 0;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}
.dq  .content .img-list li a .img-desc{
	width: 180px;
    height: 20px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    line-height: 20px;
    color: #33ae75;
}
.dq  .content .img-list li a img{
	display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    transition: 0.5s;
}
.dajuhui_box li a img{
	transition: 0.5s;
}
.dajuhui_box li:hover a img{
	transform: scale(1.05);
}
.dajuhui_box li:hover p{
	color: #ff6700;
}
.dq  .content .img-list li:hover img{
	transform: scale(1.05);
}
.dq .content .middle-img{
	position: relative;
    float: left;
    width: 200px;
    height: 360px;   
}
.dq .content .middle-img p{
	position: absolute;
    left: 21px;
    color: #5f6cb7;
}
.dq .content .middle-img .img-name{
	top: 15px;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
}
.dq .content .middle-img .img-desc{
	top: 41px;
    font: 12px/18px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    font-size: 12px;
    line-height: 18px;
}
.dq .content .middle-img img{
	display: block;
    width: 200px;
    height: 360px;
    position: absolute;
    top: 0;
    left: 0;
}
 
.dqlogo {
	width: 100%;
    height: 40px;
    overflow: hidden;
}
.dqlogo  li{
	margin: 9px 9px 0 9px;
	float: left;
    width: 80px;
    height: 30px;   
}
.dqlogo  li img{
	display: block;
    width: 80px;
    height: 30px;
}

.bq{
	width: 1190px;
	margin: 20px auto 0;
	height: 385px;
}
.bq .content{
	height: 385px;
	float: left;
	width: 590px;
	background: #fff;
}
.bq .right{
	position: relative;
	margin-left: 10px;
}
.bq .title{
	height: 46px;
	background: #ffaa01;
	width: 100%;
	color: #fff;
}
.bq .title h5{
	float: left;
	padding-left: 15px;
	font-size: 18px;
	line-height: 45px;
	font-weight: bold;
}
.bq .title a{
	float: right;
	margin: 15px 10px 0 0;
	color: #fff;
	font-size: 12px;
	line-height: 16px;	
}
.bq .title a span{
	vertical-align: middle;
}
.bq .title a i{
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 9px;
	background: url(../img/index.png) -73px -37px;
}
.bq .left ul{
	margin-left: 20px;
}
.bq .left ul .item{
	float: left;
	width: 270px;
	height: 134px;
	margin: 18px 15px 6px 0;
}
.bq .left ul .item a{
	display: block;
    width: 100%;
    height: 100%;
}
.bq .left ul .item a .name{
	color: #333;
	width: 240px;
	height: 18px;
	overflow: hidden;
	font-size: 12px;
	line-height: 18px;
}
.bq .left ul .item a .desc{
	width: 240px;
	height: 16px;
	overflow: hidden;
	margin-top: 6px;
	color: #999;
	font-size: 12px;
	line-height: 16px;
}
.bq .left ul .item a .desc span{
	display: inline-block;
	padding: 0 5px;
	color: #fff;
	height: 16px;
	margin-right: 6px;
	background: #fe9b00;
}
.bq .left ul .item a .desc i{
	display: inline;
}
.bq .left ul .item a img{
	float: left;
    width: 85px;
    height: 85px;
    margin: 10px 5px 0 0;
    transition: transform .5s;
}
.bq .left  img:hover{
	transform: scale(1.05);
}
.bq .left ul li:hover a .name{
	color: #f60;
}
.bq .right .list{
	position: relative;
    width: 100%;
    height: 339px;
    overflow: hidden;
}
.bq .right .list1{
	position: relative;
    width: 530px;
    height: 300px;
    margin: 30px 0 0 30px;
    overflow: hidden;
}
.bq .right .list1 ul{
	position: absolute;
    left: 0;
    top: 0;
    width: 4000px;
    height: 300px;
}
.bq .right .list1 ul li{
	position: relative;
	float: left;
	width: 160px;
	margin-right:25px;
}
.bq .right .list1 ul li img{
	display: block;
    width: 160px;
    height: 160px;
}
.bq .right .list1 ul li span{
	position: absolute;
    width: 50px;
    height: 50px;
    left: 53px;
    top: 45px;
    background: url(../img/index.png) -240px -86px;
}
.bq .right .list1 ul li .code{
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
    opacity: .8;
    background: 0;
}
.bq .right .list1 ul li:hover .code{
	display: block;
}
.bq .right .list1 ul li .name{
	width: 100%;
    height: 36px;
    margin-top: 18px;
    overflow: hidden;
    font-size: 12px;
    line-height: 18px;
}
.bq .right .list1 ul li .pg-price{
	width: 100%;
    height: 21px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #FFF;
    background: #F90;
}
.bq .right .list1 ul li .pg-price i{
	padding: 0 3px;
}
.bq .right .list1 ul li .ck-price{
	float: left;
	color: #999;
	margin-top: 10px;
	font-size: 12px;
	line-height: 18px;
}
.bq .right .list1 ul li .number{
	float: right;
	color: #999;
	margin-top: 10px;
	font-size: 12px;
	line-height: 18px;
}
.bq .right .btn{
	display: none;
	position: absolute;
    width: 30px;
    height: 64px;
    top: 110px;
    background: url(../img/index.png);
}
.bq .right .list:hover .btn{
	display: block;
}
.bq .right .btn-left{
	left: 1px;
    background-position: 0 -20px;
}
.bq .right .btn-left:hover{
	background-position: 0 -145px;
}
.bq .right .btn-right{
	right: 1px;
    background-position: -37px -20px;
}
.bq .right .btn-right:hover{
	background-position: -37px -145px;
	
}


.like{
	width: 1190px;
	margin: 20px auto 0;
}
.like .title{
	width: 100%;
	height: 22px;
	
}
.like .title span{
	float: left;
	width: 3px;
	height: 20px;
	background: #fe9901;
}
.like .title h5{
	float: left;
	margin-left: 12px;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}
.like .content ul{
	overflow: hidden;
	width: 1190px;
	margin-top: 8px;
	padding: 1px 0;
	background: #EEEEEE;
}
.like .content ul li{
	width: 237px;
	height: 319px;
	position: relative;
	float: left;
	background: #fff;
	margin: 1px 0 0 1px;
}
.like .content ul li a{
	position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.like .content ul li a img{
	width:200px;
	height: 200px;
	margin: 20px auto 0;
	display: block;
	transition: transform .5s;
}
.like .content ul li:hover a img{
	transform: scale(1.05);
}
.like .content ul li:hover a .name{
	color: #f60;
}
.like .content ul li a .name{
	width: 193px;
	height: 40px;
	margin: 15px auto 5px;
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	/*允许在单词内换行*/
	word-break: break-all;
	color: #333;
}
.like .content ul li a .name .zyIcon{
	float: left;
    line-height: 16px;
    padding: 0 2px;
    margin: 2px 5px 0 0;
    border: 1px solid #F60;
    border-radius: 3px;
    color: #F60;
}
.like .content ul li a .price{
	float: left;
    margin-left: 20px;
    color: #F60;
    /*font: bold 16px/18px;*/
    font-size: 16px;
    line-break: 18px;
    font-weight: bold;
}
.like .content ul li a .price i{
	font-size: ;
}
.like .content ul li a span{
	float: left;
    background: #fe9901;
    color: #FFF;
    height: 18px;
    margin-left: 10px;
    text-align: center;
    /*font: 12px/18px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";*/	
    font-size: 12px;
    line-height: 18px;
    padding: 0 6px;
    border-radius: 2px;
}
.like .end{
	position: relative;
    width: 112px;
    height: 22px;
    text-align: center;
    color: #CCC;
    margin: 15px auto;
    font-size: 18px;
    line-break: 22px;
}
.like .end span{
	position: absolute;
    top: 11px;
    width: 97px;
    height: 1px;
    background: #CCC;
}
.like .end .line-left{
	left: -97px;
}
.like .end .line-right{
	right: -97px;
}
.shouhou{
	width: 100%;
	height: 278px;
	margin-top: 20px;
	background: #F5F5F5;
	border-top:1px solid #E7E7E7;
}
.shouhou1{
	overflow: hidden;
	margin: 0 auto;
	width: 1190px;
	height: 278px;
}
.shouhou .shouhou-top{
	overflow: hidden;
	height: 73px;
	padding: 12px 0;
	width: 1250px;
	padding: 12px 0;
	border-bottom: 1px solid #eaeaea;
}
.shouhou-top li{
	width: 250px;
	float: left;
	overflow: hidden;
}
.shouhou-top .tubiao{
	float: left;
	width: 48px;
	height: 48px;
	margin-right: 8px;
}
.shouhou-top .tubiao img{
	display: block;
	width: 48px;
	height: 48px;
}
.shouhou-top .text{
	width: 180px;
	float: left;
	height: 48px;
}
.shouhou-top .text p{
	line-height: 24px;
	width: 100%;
	height: 24px;
	color: #333030;
	font-size: 14px;
}
.shouhou-top .text .name a{
	font-weight: bold;
	color: #333333;
}
.shouhou-top .text .name a:hover{
	color: #f60;
}
.shouhou-bottom{
	float: left;
}
.shouhou-bottom .title{
	width: 100%;
    line-height: 40px;
    font-weight: bold;
    color: #545454;
     height: 35px; 
    font-size: 14px;
    overflow: hidden;
}
.shouhou-bottom li{
	float: left;
	width: 210px;
}
.shouhou-bottom .nr{
	width: 100%;
    line-height: 22px;
    color: #545454;
    font-size: 12px;
    display: block;
}
.shouhou-bottom .nr:hover{
	color: #f60;
}
.shouhou-bottom-right{
	float: left;
    height: 180px;
    width: 90px;
}
.shouhou-bottom-right .title{
	width: 100%;
    line-height: 40px;
    font-weight: bold;
    color: #545454;
     height: 35px; 
    font-size: 14px;
    overflow: hidden;
}
.shouhou-bottom-right a{
	color: #333;
	font-size: 12px;
}
.shouhou-bottom-right a:hover{
	color: #f60;
}
.footer{
	width: 100%;
	height: auto;
	background: #fff;
}
.footer_center{
	width: 1190px;
	margin: 0 auto;
	padding-top: 20px;
}
.footer_yi{
	width: 68%;
	margin: 6PX auto 0 auto;
}
.footer_yi a{
	font-size: 12px;
	color: #666;
	padding: 0 10px;
	border-right: 1px solid #A588A5;
}
.footer_yi a:last-child{
	border-right:none;
}

.footer_er{
	width: 70%;
	margin: 10px auto 0 auto;
}
.footer_er h4{
	float: left;
	font-size: 12px;
	color: #999;
	margin-top: 2px;
	font-weight: normal;
	padding-right:10px;
	border-right: 1px solid #A588A5;
}
.footer_er a{
	font-size: 12px;
	color: #999;
	padding: 0 10px;
	border-right: 1px solid #A588A5;
}
.footer_er a:last-child{
	border-right: none;
}
.footer_er a img{
	float: left;
}
.footer_er .su_b2{
	float: left;
}

.footer_er h5{
	float: left;
	font-size: 12px;
	color: #999;
	font-weight: normal;
	padding-left:10px;

}
.footer_san{
	width: 70%;
}

.footer_si{
	width: 56%;
	margin: 10px auto ;
}
.footer_si h5{
	font-size: 12px;
	color: #999;
	text-align: center;
	font-weight: normal;
}

.footer_san{
	width: 30%;
	margin: 0 auto;
}
.footer_san a{
	margin-right:8px ;
}

/*侧导航*/
.cedaohang{
	position: fixed;
	top: 50%; 
	left: 50%; 
	z-index: 1000; 
	right: auto; 
	margin-left: -670px; 
	margin-top: -159.5px; 
	display: block;
}
.cedaohang_box{
	padding-top: 9px;
	background: #f8f8f8;
	width: 68px;
	border: 1px solid #ddd;
	position: relative;
	display: none;
}
.cedaohang ul li{
	width: 100%;
}
.katong{
	position: absolute;
	width: 45px;
	height: 37px;
	left: 13px;
	top:-29px;
	z-index: 1;
	background: url(../img/index.png) no-repeat -302px -80px;
}
.cedaohang_box ul li{
	width: 68px;
	height: 28px;
	border-bottom: 1px solid #e8e8e8;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
	font-size: 12px;
	color:#333;
}

.cedaohang_box ul li.active{
	background: #ff9900;
	color: #fff;
}
.cedaohang_box ul li:hover{
	background: #ff9900;
	color: #fff;
}

.top_dibu{
	display: block;
	width: 68px;
	height: 18px;
	background: url(../img/index.png) no-repeat -230px -183px;
}
.ng-fix-bar {
	position: fixed;
	height: 50px;
	width: 100%;
	min-width: 990px;
	background: #fff;
	box-shadow: rgba(0,0,0,.2) 0 1px 5px;
	left: 0;
	top: 0;
	opacity: .95;
	display: none;
}
.tongtian{
	height: 50px;
	width: 1190px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

























